<!DOCTYPE html>
<html>
  <head>
    <title>Socio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header id="body-header">
        <div class="logo">
          <p>Socialchemy</p>
        </div>
        <nav>
          <ul>
            <%if user_signed_in?%>
            <li>
              <%= current_user.email %>
            </li>
            <li>
              <%= link_to "sign out",destroy_user_session_path , method: :delete %>
            </li>
            <%else%>
            <li>
              <%= link_to "join",new_user_registration_path %>
            </li>
            <li>
              <%= link_to "sign in", new_user_session_path %>
            </li>
            <%end%>
          </ul>
        </nav>
      </header>
    <%= yield %>
  </body>
</html>
